body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: #ffffff;
  opacity: 1;
  transition: opacity 0.5s ease;

}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 20px;
  background-color: #000;
  gap: 760px;
}

header img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 3px solid #09d3f2;
}

header h2 {
  font-size: 2em;
  color: #09d3f2;
  margin: 0;
  text-shadow: 0 0 10px #09d3f2, 0 0 20px #09d3f2;
}

main {
  padding: 40px 20px;
}

section {
  margin-bottom: 40px;
}

section h3 {
  color: #09d3f2;
  margin-bottom: 15px;
  text-shadow: 0 0 8px #09d3f2, 0 0 15px #09d3f2;
}

ul {
  list-style-type: square;
  padding-left: 20px;
}

li {
  margin-bottom: 8px;
}

.fade-out {
  opacity: 0;
}
ul li a{
  color: #09d3f2;
  text-decoration: none;
}
.contact-content{
  padding: 100px 0;
  color: #fff;
  text-align: center;
}
.contact-content .contact-title h4{
  font-size: 40px;
  text-transform: capitalize;
  text-shadow: 0 0 8px #09d3f2, 0 0 15px #09d3f2;
  color: #09d3f2;
  padding-bottom: 10px;
}
.contact-content .contact-title p{
  padding-bottom: 20px;
}
.contact{
  max-width: 700px;
  margin: auto;
}
.contact input,.contact textarea{
  width: 100%;
  padding: 15px;
  border: 0;
  margin-bottom: 10px;
}

.contact .submit{
  width: auto;
  background-color: #09d3f2
;
  padding: 10px 40px;
  font-weight:bold ;
  font-size: 18px;
}
.contact .submit:hover{
  transform: scale(1.1);
  cursor: pointer;
}
#msg{
  color: #fff;
  font-size: 20px;
  margin-top: -8px;
  display: block;
}

footer {
  background-color: #000;
  text-align: center;
  padding: 20px;
  color: #ffffff;
  font-size: 0.9em;
  border-top: 1px solid #09d3f2;
}
